body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
}

.collapsible {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.collapsible-open {
    max-height: unset;
}